@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #00b749;
  --dirty: #f0f1f2;
}

.back {
  font-size: 2rem;
  position: absolute;
  color: white;
  z-index: 2;
  left: 20px;
  top: 20px;
}

/* green nga circle */
.head {
  display: flex;
  align-items: center;
  gap: 0.5em;

  .circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #00b749;
  }

  h1 {
    font-size: 14px;
    letter-spacing: -0.5px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background: var(--dirty);
}

.herolearn {
  position: relative;
  min-height: 100vh;
  header {
    padding: 2rem 7rem;
    position: relative;
    height: 70vh;
    background: url(../assets/headerf.webp) no-repeat center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 1em;

    .blur {
      position: absolute;
      height: 100%;
      width: 100vw;
      background: rgba(0, 0, 0, 0.485);
      /* backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px); */
      top: 0;
      left: 0;
    }

    span,
    h1,
    .p {
      position: relative;
      z-index: 1;
    }

    .us {
      padding: 5px 15px;
      background: #121212;
      border: 1px solid rgba(255, 255, 255, 0.134);
      border-radius: 100px;
      color: var(--green);
      font-weight: 500;
    }

    .h5 {
      font-size: 5rem;
      font-weight: 500;
      line-height: 5rem;
      color: white;
      width: 100%;
    }

    .p {
      color: gray;
      width: 40%;
      z-index: 2;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 7rem;
    min-height: 30vh;

    .h6 {
      font-size: 2rem;
      font-weight: 500;
      width: 100;

      span {
        color: #00b749;
      }
    }
  }
}

.stats {
  min-height: 20vh;

  background: var(--dirty);

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    color: gray;

    .count {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 2rem 7rem;

      span {
        font-weight: bold;
        font-size: 2.5rem;
        color: black;
      }
    }
  }
}

.ad {
  position: relative;
  min-height: 100vh;
  padding: 2rem 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;

  .container {
    display: flex;
    justify-content: space-between;
  }
  .video {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: start;
    width: 70%;
  }
  video {
    height: 70vh;
    border-radius: 24px;
    border: 5px solid white;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  p {
    color: gray;
    text-align: center;
  }

  .poster {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    a {
      position: relative;
      transition: 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        top: 0;
        border-radius: 24px;
        opacity: 0;
        transition: 0.3s ease;
      }

      &::before {
        content: "Download";
        position: absolute;
        z-index: 2;
        padding: 20px;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease;
      }

      &:hover::after {
        opacity: 0.3;
      }
      &:hover::before {
        opacity: 1;
      }
    }
    img {
      height: 70vh;
      border-radius: 24px;
      border: 5px solid white;
    }
  }
}

.team {
  position: relative;
  padding: 2rem 7rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      color: gray;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .row {
      display: flex;
      gap: 1em;
      .card {
        position: relative;
        height: 350px;
        border: 5px solid white;
        background: gray;
        border-radius: 24px;
        padding: 20px;

        display: flex;
        align-items: end;

        h3 {
          position: relative;
          color: white;
          z-index: 4;
          font-size: 2.3rem;
          font-weight: 500;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 90%;
          bottom: 0;
          left: 0;

          border-bottom-left-radius: 24px;
          border-bottom-right-radius: 24px;
          background: linear-gradient(to top, black, transparent);
        }
      }
      .large {
        width: 70%;
      }
      .small {
        width: 30%;
      }

      .alfer {
        background: url(../assets/alfer.JPG) no-repeat center/cover;
      }

      .iza {
        background: url(../assets/iza.jpeg) no-repeat bottom center/cover;
      }
    }

    .two {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (max-width: 1000px) {
  .ad {
    padding: 2rem;
    .container {
      flex-direction: column;

      .video {
        width: 100%;

        video {
          height: auto;
          width: 100%;
        }
      }

      .poster {
        width: 100%;
      }
    }
  }

  .team {
    padding: 2rem;

    header {
      flex-direction: column;
      gap: 0.5em;
      align-items: start;

      h2 {
        font-size: 1.5rem;
      }
    }

    .container {
      .row {
        flex-direction: column;

        .card {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .herolearn {
    header {
      padding: 2rem;
      gap: 1rem;

      .h5 {
        font-size: 2.5rem;
        line-height: 3rem;
      }

      .p {
        width: 100%;
      }
    }

    main {
      padding: 2rem;
    }
  }
  .stats {
    .container {
      flex-direction: column;
      align-items: start;
      justify-content: baseline;
      gap: 0;

      .count {
        gap: 0.5em;
        /* border: 1px solid black; */
        padding: 2rem;
      }
    }
  }
}
